{% extends 'templates/cnap_base.html' %}

{% block content %}

<main class="layout-content">

    <div class="layout-item layout-item_bg layout-item_bg-header">

        <div class="breadcrumbs">

            <a href="/" class="breadcrumbs-item">
                Головна
            </a>

            <a href="/thematic-area/{{service.thematic_area}}" class="breadcrumbs-item">
                {{service.thematic_area}}
            </a>

        </div>


        <div class="layout-item__header layout-item__header_subtitle-end">
            <div class="layout-item__title">
                <h1 class="wd-md-80p mg-md-b-25 h2">

                    {{service.keyword}}

                </h1>
            </div>
        </div>

    </div>

    <div class="layout-item">
        <div class="layout-item__header">
            <div class="bordered-card-wrap">
                <div class="bordered-card bordered-card_horizontal">
                    <div class="bordered-card__item  bordered-card__item_width-33">
                        <div class="label-block">
                            <div class="label-block__header">
                                Ідентифікатор послуги
                            </div>
                            <div class="label-block__content">
                                {{service.identifier}}
                            </div>
                        </div>

                        <div class="label-block">
                            <div class="label-block__header">
                                Строк
                            </div>
                            <div class="label-block__content">

                                У місячний строк

                            </div>
                        </div>


                        <div class="label-block">
                            <div class="label-block__header">
                                Вартість
                            </div>
                            <div class="label-block__content">
                                Безкоштовно
                            </div>
                        </div>

                    </div>

                    <div class="bordered-card__item bordered-card__item_width-66">

                        <div class="label-block">
                            <div class="label-block__header">
                                Повна назва
                            </div>
                            <div class="label-block__content">
                                {{service.service}}
                            </div>
                        </div>



                        <div class="label-block">
                            <div class="label-block__header">
                                Інформація про послугу
                            </div>
                            <div class="truncate-text label-block__content">
                                <div class="truncate-text__content js-truncate-text-content">
                                    {{service.short_description_plain}}
                                </div>


                                <a href="" style="display: none"
                                    class="truncate-text__toggle truncate-text__toggle_show-off link link_reverse js-truncate-text-toggle">
                                    Детальніше <i class="fas fa-caret-down"></i>
                                </a>


                                <a href="" style="display: none"
                                    class="truncate-text__toggle truncate-text__toggle_show-on link link_reverse js-truncate-text-toggle">
                                    Згорнути <i class="fas fa-caret-up"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-item__body">
            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-item__header" data-toggle="collapse" data-target="#register-detail-1">
                        <h3 class="h3 accordion-item__title">
                            Як отримати і що для цього потрібно
                        </h3>
                    </div>

                    <div id="register-detail-1" class="collapse">
                        <div class="accordion-item__body">
                            <div class="info-item">
                                <h5 class="h5 info-item__header">Де отримати</h5>

                                <div class="list-margin">
                                    {% for provider in service.service_provider %}
                                    <div class="masonry-columns list-margin__item list-margin__item_with_button">
                                        <div class="masonry-columns__item">
                                            <div class="masonry-columns__item_name">
                                                {{provider.title}}
                                            </div>
                                        </div>
                                        {% if provider.cta_title %}
                                        <div class="masonry-columns__item">
                                            <div class="masonry-columns__item_button">
                                                <a target="_blank" href="{{provider.cta_url}}"
                                                    class="button-primary button-wrap__item button-map" type="submit">
                                                    {{provider.cta_title}}
                                                </a>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                    <div class="list-margin__item"> </div>
                                </div>
                            </div>

                            <div class="info-item">
                                <h5 class="h5 info-item__header">Як замовити послугу</h5>
                                {{ service.how_order }}
                            </div>

                            <div class="info-item">
                                <h5 class="h5">Хто може звернутися:
                                    {% for row in service.applicant_type %}
                                    {{ row.applicant_type }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </h5>
                            </div>
                            <div class="info-item">
                                <h5 class="h5 info-item__header info-item__header_margin-large">Документи, що необхідно
                                    надати для
                                    отримання послуги:</h5>

                                <div class="ordered-list masonry-columns masonry-columns_disable-two">
                                    {% for doc in service.docs %}
                                    <div class="ordered-list__item masonry-columns__item">
                                        {{doc.doc}}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="info-item">
                                <h5 class="h5 info-item__header">Умови і випадки надання</h5>
                                <p style="text-align: justify; text-indent: 24px;">
                                    {{ service.legal_base }}
                                </p>
                            </div>
                            <div class="info-item">
                                <h5 class="h5 info-item__header info-item__header_margin-large">Результат та способи
                                    отримання результату
                                </h5>
                                <div class="ordered-list masonry-columns masonry-columns_disable-two">
                                    {% for produce in service.produces %}

                                    <div class="ordered-list__item masonry-columns__item">
                                        {{produce.title}}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="info-item">
                                {{service.produces_rec}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item__header" data-toggle="collapse" data-target="#register-detail-2">
                        <h3 class="h3 accordion-item__title">
                            Строк та вартість надання послуги
                        </h3>
                    </div>

                    <div id="register-detail-2" class="collapse">
                        <div class="accordion-item__body">
                            {% for row in service.duration %}
                            {% set bank = frappe.get_doc('CNAP Bank Details', row.bank_details) %}

                            <div class="info-item">
                                <h5 class="h5 info-item__header info-item__header_margin-large">{{row.title}}</h5>

                                <div class="masonry-columns list-margin">

                                    <div class="masonry-columns__item list-margin__item label-block">

                                        <span class="label-block__header">Адміністративний збір</span>

                                        <div class="label-block__content">
                                            {{bank.coast}}
                                        </div>
                                    </div>



                                    <div class="masonry-columns__item list-margin__item label-block">
                                        <span class="label-block__header">Строк надання</span>
                                        <div class="label-block__content">
                                            {{row.duration}} ({{row.duration_type}})
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}



                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item__header" data-toggle="collapse" data-target="#register-detail-3">
                        <h3 class="h3 accordion-item__title">
                            Куди звернутися, якщо відмовлено у наданні послуги?
                        </h3>
                    </div>

                    <div id="register-detail-3" class="collapse">
                        <div class="accordion-item__body">

                            <div class="info-item">
                                <h5 class="h5 info-item__header info-item__header_margin-large">Підстави для відмови у
                                    наданні послуги</h5>


                                <div class="ordered-list masonry-columns masonry-columns_disable-two">
                                    {% for row in service.refusal_grounds %}
                                    <div class="ordered-list__item masonry-columns__item">
                                        {{row.title}}
                                    </div>
                                    {% endfor %}
                                </div>

                            </div>

                            <div class="info-item">
                                <h5 class="h5 info-item__header">Скаргу може подавати:
                                    {% for row in service.refusal_appeal_person %}
                                    {{row.title}}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                    <br>
                                </h5>
                            </div>


                            <div class="info-item">
                                <h5 class="h5 info-item__header">Органи, до яких оскаржується</h5>
                                {% for row in service.refusal_appeal_rules %}
                                <div class="">
                                    {{row.title}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <div class="accordion-item__header" data-toggle="collapse" data-target="#register-detail-4">
                        <h3 class="h3 accordion-item__title">
                            Часті питання та відповіді
                        </h3>
                    </div>

                    <div id="register-detail-4" class="collapse">
                        <div class="accordion-item__body">

                            <div class="masonry-columns masonry-columns_disable-two">
                                {% for row in service.qa %}

                                <div class="info-item masonry-columns__item">
                                    <h5 class="h5 info-item__header">{{row.q}}</h5>
                                    {{row.a}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <div class="accordion-item__header" data-toggle="collapse" data-target="#register-detail-5">
                        <h3 class="h3 accordion-item__title">
                            Нормативна база
                        </h3>
                    </div>

                    <div id="register-detail-5" class="collapse">
                        <div class="accordion-item__body">

                            <div class="info-item">
                                <h5 class="h5 info-item__header info-item__header_margin-large">Нормативні документи, що
                                    регулюють надання
                                    послуги:</h5>


                                <div class="ordered-list masonry-columns masonry-columns_disable-two">
                                    {% for row in service.regulatory_documents %}
                                    <a href="{{row.url}}"
                                        class="link link_reverse link_outside ordered-list__item masonry-columns__item"
                                        target="_blank">{{row.title}}</a>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <div class="accordion-item__header" data-toggle="collapse" data-target="#register-detail-6">
                        <h3 class="h3 accordion-item__title">
                            Пов'язані послуги
                        </h3>
                    </div>

                    <div id="register-detail-6" class="collapse">
                        <div class="accordion-item__body">
                            <div class="masonry-columns masonry-columns_disable-two list-margin">
                                {% for row in service.related_serv %}
                                {% set serv = frappe.get_doc('CNAP Service', row) %}

                                <div class="list-margin__item masonry-columns__item">
                                    <a class="h5 link link_reverse"
                                        href="/service/{{serv.identifier}}">
                                        {{serv.keyword}}
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</main>

{% endblock %}