{% extends 'templates/cnap_base.html' %}

{% block content %}

<main class="layout-content">

    <div class="layout-item layout-item_bg layout-item_bg-header">

        <div class="breadcrumbs">

            <a href="/" class="breadcrumbs-item">
                Головна
            </a>

            <a href="/thematic-area/{{service.thematic_area}}" class="breadcrumbs-item">
                {{service.thematic_area}}
            </a>

        </div>


        <div class="layout-item__header layout-item__header_subtitle-end">
            <div class="layout-item__title">
                <h1 class="wd-md-80p mg-md-b-25 h2">

                    {{service.keyword}}

                </h1>
            </div>
        </div>

    </div>

    <div class="layout-item">
        <div class="layout-item__header">
            <div class="bordered-card-wrap">
                <div class="bordered-card bordered-card_horizontal">
                    <div class="bordered-card__item  bordered-card__item_width-33">
                        <div class="label-block">
                            <div class="label-block__header">
                                Ідентифікатор послуги
                            </div>
                            <div class="label-block__content">
                                {{service.identifier}}
                            </div>
                        </div>

                        <div class="label-block">
                            <div class="label-block__header">
                                Строк
                            </div>
                            <div class="label-block__content">

                                У місячний строк

                            </div>
                        </div>


                        <div class="label-block">
                            <div class="label-block__header">
                                Вартість
                            </div>
                            <div class="label-block__content">
                                Безкоштовно
                            </div>
                        </div>

                    </div>

                    <div class="bordered-card__item bordered-card__item_width-66">

                        <div class="label-block">
                            <div class="label-block__header">
                                Повна назва
                            </div>
                            <div class="label-block__content">
                                {{service.service}}
                            </div>
                        </div>



                        <div class="label-block">
                            <div class="label-block__header">
                                Інформація про послугу
                            </div>
                            <div class="truncate-text label-block__content">
                                <div class="truncate-text__content js-truncate-text-content">
                                    {{service.short_description_plain}}
                                </div>


                                <a href="" style="display: none"
                                    class="truncate-text__toggle truncate-text__toggle_show-off link link_reverse js-truncate-text-toggle">
                                    Детальніше <i class="fas fa-caret-down"></i>
                                </a>


                                <a href="" style="display: none"
                                    class="truncate-text__toggle truncate-text__toggle_show-on link link_reverse js-truncate-text-toggle">
                                    Згорнути <i class="fas fa-caret-up"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-item__body">
            <div class="accordion">
                <div class="accordion-item">
                    <div class="accordion-item__header" data-toggle="collapse" data-target="#register-detail-1">
                        <h3 class="h3 accordion-item__title">
                            Як отримати і що для цього потрібно
                        </h3>
                    </div>

                    <div id="register-detail-1" class="collapse">
                        <div class="accordion-item__body">
                            <div class="info-item">
                                <h5 class="h5 info-item__header">Де отримати</h5>

                                <div class="list-margin">
                                    {% for provider in service.service_provider %}
                                    <div class="masonry-columns list-margin__item list-margin__item_with_button">
                                        <div class="masonry-columns__item">
                                            <div class="masonry-columns__item_name">
                                                Центр надання адміністративних послуг
                                            </div>
                                        </div>
                                        {% if provider.cta_title %}
                                        <div class="masonry-columns__item">
                                            <div class="masonry-columns__item_button">
                                                <a target="_blank" href="{{provider.cta_url}}"
                                                    class="button-primary button-wrap__item button-map" type="submit">
                                                    {{provider.cta_title}}
                                                </a>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                    <div class="list-margin__item"> </div>
                                </div>
                            </div>

                            <div class="info-item">
                                <h5 class="h5 info-item__header">Як замовити послугу</h5>
                                {{ service.how_order }}
                            </div>

                            <div class="info-item">
                                <h5 class="h5">Хто може звернутися:
                                    {% for row in service.applicant_type %}
                                    {{ row.applicant_type }}{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </h5>
                            </div>
                            <div class="info-item">
                                <h5 class="h5 info-item__header info-item__header_margin-large">Документи, що необхідно
                                    надати для
                                    отримання послуги:</h5>

                                <div class="ordered-list masonry-columns masonry-columns_disable-two">
                                    {% for doc in service.docs %}

                                    <div class="ordered-list__item masonry-columns__item">

                                        {{doc.doc}}

                                    </div>
                                    {% endfor %}

                                </div>

                            </div>


                            <div class="info-item">
                                <h5 class="h5 info-item__header">Умови і випадки надання</h5>

                                <p style="text-align: justify; text-indent: 24px;">
                                    {{ service.legal_base }}
                                </p>


                            </div>


                            <div class="info-item">
                                <h5 class="h5 info-item__header info-item__header_margin-large">Результат та способи
                                    отримання результату
                                </h5>

                                <div class="ordered-list masonry-columns masonry-columns_disable-two">
                                    {% for produce in service.produces %}

                                    <div class="ordered-list__item masonry-columns__item">
                                        {{produce.title}}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="info-item">
                                {{service.produces_rec}}
                            </div>


                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item__header" data-toggle="collapse" data-target="#register-detail-2">
                        <h3 class="h3 accordion-item__title">
                            Строк та вартість надання послуги
                        </h3>
                    </div>

                    <div id="register-detail-2" class="collapse">
                        <div class="accordion-item__body">



                            <div class="info-item">
                                <h5 class="h5 info-item__header info-item__header_margin-large">Звичайне надання</h5>

                                <div class="masonry-columns list-margin">

                                    <div class="masonry-columns__item list-margin__item label-block">

                                        <span class="label-block__header">Адміністративний збір</span>

                                        <div class="label-block__content">


                                            Безоплатне надання




                                        </div>
                                    </div>



                                    <div class="masonry-columns__item list-margin__item label-block">
                                        <span class="label-block__header">Строк надання</span>
                                        <div class="label-block__content">
                                            У місячний строк
                                        </div>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-item__header" data-toggle="collapse" data-target="#register-detail-3">
                        <h3 class="h3 accordion-item__title">
                            Куди звернутися, якщо відмовлено у наданні послуги?
                        </h3>
                    </div>

                    <div id="register-detail-3" class="collapse">
                        <div class="accordion-item__body">

                            <div class="info-item">
                                <h5 class="h5 info-item__header info-item__header_margin-large">Підстави для відмови у
                                    наданні послуги</h5>


                                <div class="ordered-list masonry-columns masonry-columns_disable-two">

                                    <div class="ordered-list__item masonry-columns__item">
                                        Подання документів не в повному обсязі
                                    </div>

                                    <div class="ordered-list__item masonry-columns__item">
                                        Недостовірність відомостей у документах, поданих заявником
                                    </div>

                                </div>

                            </div>

                            <div class="info-item">
                                <h5 class="h5 info-item__header">Скаргу може подавати:
                                    оскаржувач, представник оскаржувача<br></h5>
                            </div>


                            <div class="info-item">
                                <h5 class="h5 info-item__header">Органи, до яких оскаржується</h5>



                                <div class="">









                                    <div class="">
                                        <a href="" class="link link_reverse dropdown-arrow" data-toggle="collapse"
                                            data-target="#refusal_appeal_rules-0">
                                            Окружний адміністративний суд<i
                                                class="fas fa-caret-down dropdown-arrow__icon"></i>
                                        </a>

                                        <div class="mg-b-15 mg-t-15">
                                            <div class="collapse" id="refusal_appeal_rules-0">
                                                <div class="refusal-appeal-detail list-margin">
                                                    <div class="refusal-appeal-detail__item list-margin__item">
                                                        <h6 class="refusal-appeal-detail__header h6">Судовий порядок
                                                            оскарження</h6>
                                                    </div>

                                                    <div class="refusal-appeal-detail__item list-margin__item">
                                                        <span class="refusal-appeal-detail__header">Спосіб подання
                                                            позовної заяви:</span>
                                                        <span>
                                                            Подається в письмовій формі позивачем або особою, якій
                                                            законом надано право звертатися до суду в інтересах інших
                                                            осіб.
                                                        </span>
                                                    </div>

                                                    <div class="refusal-appeal-detail__item list-margin__item">
                                                        <span class="refusal-appeal-detail__header">Строк для подання
                                                            позовної заяви:</span>
                                                        <span>
                                                            Для звернення до адміністративного суду за захистом прав,
                                                            свобод та інтересів особи встановлюється шестимісячний
                                                            строк, який, якщо не встановлено інше, обчислюється з дня,
                                                            коли особа дізналася або повинна була дізнатися про
                                                            порушення своїх прав, свобод чи інтересів.
                                                            Якщо законом передбачена можливість досудового порядку
                                                            вирішення спору і позивач скористався цим порядком, або
                                                            законом
                                                            визначена обов’язковість досудового порядку вирішення спору,
                                                            то для звернення до адміністративного суду
                                                            встановлюється
                                                            тримісячний строк, який обчислюється з дня вручення позивачу
                                                            рішення за результатами розгляду його скарги на
                                                            рішення,
                                                            дії або бездіяльність суб’єкта владних повноважень.
                                                        </span>
                                                    </div>

                                                    <div class="refusal-appeal-detail__item list-margin__item">
                                                        <span class="refusal-appeal-detail__header">Строк розгляду
                                                            позовної заяви:</span>
                                                        <span>
                                                            Суд має розпочати розгляд справи по суті не пізніше ніж
                                                            через шістдесят днів з дня відкриття провадження у
                                                            справі, а у
                                                            випадку продовження строку підготовчого провадження - не
                                                            пізніше наступного дня з дня закінчення такого строку.
                                                            Суд розглядає справу по суті протягом тридцяти днів з дня
                                                            початку розгляду справи по суті.
                                                        </span>
                                                    </div>

                                                    <div class="refusal-appeal-detail__item list-margin__item">
                                                        <span
                                                            class="refusal-appeal-detail__header refusal-appeal-detail__header_margin-bottom">В
                                                            позовній заяві зазначаються:</span>
                                                        <div class="ordered-list ordered-list_compact">
                                                            <div class="ordered-list__item">
                                                                найменування суду першої інстанції, до якого подається
                                                                заява;
                                                            </div>
                                                            <div class="ordered-list__item">
                                                                повне найменування (для юридичних осіб) або ім’я
                                                                (прізвище, ім’я та по батькові - для фізичних осіб)
                                                                сторін та
                                                                інших учасників справи, їх місцезнаходження (для
                                                                юридичних осіб) або місце проживання чи перебування (для
                                                                фізичних осіб); поштовий індекс; ідентифікаційний код
                                                                юридичної особи в Єдиному державному реєстрі підприємств
                                                                і
                                                                організацій України (для юридичних осіб, зареєстрованих
                                                                за законодавством України); реєстраційний номер
                                                                облікової картки
                                                                платника податків (для фізичних осіб) за його наявності
                                                                або номер і серія паспорта для фізичних осіб - громадян
                                                                України
                                                                (якщо такі відомості відомі позивачу), відомі номери
                                                                засобів зв’язку, офіційна електронна адреса або адреса
                                                                електронної пошти;
                                                            </div>
                                                            <div class="ordered-list__item">
                                                                зазначення ціни позову, обґрунтований розрахунок суми,
                                                                що стягується, - якщо у позовній заяві містяться
                                                                вимоги про відшкодування шкоди, заподіяної оскаржуваним
                                                                рішенням, діями, бездіяльністю суб’єкта владних
                                                                повноважень;
                                                            </div>
                                                            <div class="ordered-list__item">
                                                                зміст позовних вимог і виклад обставин, якими позивач
                                                                обґрунтовує свої вимоги, а в разі подання позову до
                                                                декількох відповідачів - зміст позовних вимог щодо
                                                                кожного з відповідачів;
                                                            </div>
                                                            <div class="ordered-list__item">
                                                                виклад обставин, якими позивач обґрунтовує свої вимоги;
                                                                зазначення доказів, що підтверджують вказані
                                                                обставини;
                                                            </div>
                                                            <div class="ordered-list__item">
                                                                відомості про вжиття заходів досудового врегулювання
                                                                спору - у випадку, якщо законом встановлений
                                                                обов’язковий
                                                                досудовий порядок урегулювання спору;
                                                            </div>
                                                            <div class="ordered-list__item">
                                                                відомості про вжиття заходів забезпечення доказів або
                                                                позову до подання позовної заяви, якщо такі
                                                                здійснювалися;
                                                            </div>
                                                            <div class="ordered-list__item">
                                                                перелік документів та інших доказів, що додаються до
                                                                заяви; зазначення доказів, які не можуть бути подані
                                                                разом із позовною заявою (за наявності), зазначення щодо
                                                                наявності у позивача або іншої особи оригіналів
                                                                письмових або
                                                                електронних доказів, копії яких додано до заяви;
                                                            </div>
                                                            <div class="ordered-list__item">
                                                                у справах щодо оскарження рішень, дій та бездіяльності
                                                                суб’єкта владних повноважень - обґрунтування порушення
                                                                оскаржуваними рішеннями, діями чи бездіяльністю прав,
                                                                свобод, інтересів позивача;
                                                            </div>
                                                            <div class="ordered-list__item">
                                                                у справах щодо оскарження нормативно-правових актів -
                                                                відомості про застосування оскаржуваного
                                                                нормативно-правового акта до позивача або належність
                                                                позивача до суб’єктів правовідносин, у яких
                                                                застосовується
                                                                або буде застосовано цей акт;
                                                            </div>
                                                            <div class="ordered-list__item">
                                                                власне письмове підтвердження позивача про те, що ним не
                                                                подано іншого позову (позовів) до цього самого
                                                                відповідача (відповідачів) з тим самим предметом та з
                                                                тих самих підстав.
                                                                Якщо позовна заява подається представником, то у ній
                                                                додатково зазначаються відомості стосовно представника.
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="refusal-appeal-detail__item list-margin__item">
                                                        <span class="refusal-appeal-detail__header">До позовної заяви
                                                            додається:</span>
                                                        <span>
                                                            документ про сплату судового збору у встановлених порядку і
                                                            розмірі або документи, які підтверджують підстави
                                                            звільнення від сплати судового збору відповідно до закону;
                                                            всі наявні в нього докази, що підтверджують обставини, на
                                                            яких ґрунтуються позовні вимоги (якщо подаються
                                                            письмові
                                                            чи
                                                            електронні докази - позивач може додати до позовної заяви
                                                            копії відповідних доказів).
                                                        </span>
                                                    </div>


                                                    <div class="refusal-appeal-detail__item list-margin__item">
                                                        <span class="refusal-appeal-detail__header">Інші додатки:</span>
                                                        <span>
                                                            У разі необхідності до позовної заяви додаються клопотання
                                                            та заяви позивача про розгляд справи за правилами
                                                            спрощеного позовного провадження, участь у судовому
                                                            засіданні щодо розгляду справи за правилами спрощеного
                                                            позовного
                                                            провадження, звільнення (відстрочення, розстрочення,
                                                            зменшення) від сплати судового збору, про призначення
                                                            експертизи,
                                                            витребування доказів, про забезпечення надання безоплатної
                                                            правничої допомоги, якщо відповідний орган відмовив у
                                                            її наданні, тощо.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <div class="accordion-item__header" data-toggle="collapse" data-target="#register-detail-4">
                        <h3 class="h3 accordion-item__title">
                            Часті питання та відповіді
                        </h3>
                    </div>

                    <div id="register-detail-4" class="collapse">
                        <div class="accordion-item__body">

                            <div class="masonry-columns masonry-columns_disable-two">

                                <div class="info-item masonry-columns__item">
                                    <h5 class="h5 info-item__header">Ким визначається район проведення антитерористичної
                                        операції та період її проведення?</h5>
                                    Район проведення антитерористичної операції та період її проведення визначаються
                                    Антитерористичним центром при СБУ.
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <div class="accordion-item__header" data-toggle="collapse" data-target="#register-detail-5">
                        <h3 class="h3 accordion-item__title">
                            Нормативна база
                        </h3>
                    </div>

                    <div id="register-detail-5" class="collapse">
                        <div class="accordion-item__body">

                            <div class="info-item">
                                <h5 class="h5 info-item__header info-item__header_margin-large">Нормативні документи, що
                                    регулюють надання
                                    послуги:</h5>


                                <div class="ordered-list masonry-columns masonry-columns_disable-two">


                                    <a href="https://zakon.rada.gov.ua/laws/show/3551-12#Text"
                                        class="link link_reverse link_outside ordered-list__item masonry-columns__item"
                                        target="_blank">Закон України &quot;Про статус ветеранів війни, гарантії їх
                                        соціального захисту&quot; стаття 7</a>



                                    <a href="https://zakon.rada.gov.ua/laws/show/1706-18#Text"
                                        class="link link_reverse link_outside ordered-list__item masonry-columns__item"
                                        target="_blank">Закон України &quot;Про забезпечення прав і свобод внутрішньо
                                        переміщених осіб&quot; абзац 15 частини першої статті 9</a>



                                    <a href="https://zakon.rada.gov.ua/laws/show/685-2015-%D0%BF#n17"
                                        class="link link_reverse link_outside ordered-list__item masonry-columns__item"
                                        target="_blank">Постанова КМУ від 08.09.2015 №685 &quot;Про затвердження Порядку
                                        надання статусу особи з інвалідністю внаслідок війни особам, які отримали
                                        інвалідність внаслідок поранення, контузії, каліцтва або захворювання, одержаних
                                        під час безпосередньої участі в антитерористичній операції, здійсненні заходів
                                        із забезпечення національної безпеки і оборони, відсічі і стримування збройної
                                        агресії Російської Федерації в Донецькій та Луганській областях, забезпеченні їх
                                        проведення, під час безпосередньої участі у заходах, необхідних для забезпечення
                                        оборони України, захисту безпеки населення та інтересів держави у зв’язку з
                                        військовою агресією Російської Федерації проти України&quot; пункти 2, 4-7, 9
                                        Порядку</a>



                                    <a href="https://zakon.rada.gov.ua/laws/show/302-94-%D0%BF#n88"
                                        class="link link_reverse link_outside ordered-list__item masonry-columns__item"
                                        target="_blank">Постанова КМУ від 12.05.1994 №302 &quot;Про порядок видачі
                                        посвідчень і нагрудних знаків ветеранів війни&quot; пункти 3, 7, 9-10 Положення
                                        про порядок видачі посвідчень і нагрудних знаків ветеранів війни</a>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <div class="accordion-item__header" data-toggle="collapse" data-target="#register-detail-6">
                        <h3 class="h3 accordion-item__title">
                            Пов'язані послуги
                        </h3>
                    </div>

                    <div id="register-detail-6" class="collapse">
                        <div class="accordion-item__body">
                            <div class="masonry-columns masonry-columns_disable-two list-margin">

                                <div class="list-margin__item masonry-columns__item">
                                    <a class="h5 link link_reverse"
                                        href="/view/vstanovlennia-statusu-dytyna-viiny-4f1bd49a-cef3-4d8e-a0d4-2c5c1bd14396">
                                        Встановлення статусу дитина війни
                                    </a>

                                    <!--     <a href="/register/01199/" class="h5 link link_reverse"
                      target="_blank">
                      Встановлення статусу дитина війни
                    </a> -->
                                </div>

                                <div class="list-margin__item masonry-columns__item">
                                    <a class="h5 link link_reverse"
                                        href="/view/vstanovlennia-faktu-oderzhannia-ushkodzhen-zdorovia-vid-boieprypasiv-na-terytorii-provedennia-antyterorystychnoi-operatsii-zdiis-6196768b-a503-467a-96a6-4f56bcc2ab8e">
                                        Встановлення факту одержання ушкоджень здоров’я від боєприпасів на території
                                        проведення антитерористичної операції, здійснення заходів із забезпечення
                                        національної безпеки і оборони, відсічі і стримування збройної агресії
                                        Російської Федерації у Донецькій та Луганській областях
                                    </a>

                                    <!--     <a href="/register/01284/" class="h5 link link_reverse"
                      target="_blank">
                      Встановлення факту одержання ушкоджень здоров’я від боєприпасів на території проведення антитерористичної операції, здійснення заходів із забезпечення національної безпеки і оборони, відсічі і стримування збройної агресії Російської Федерації у Донецькій та Луганській областях
                    </a> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</main>

{% endblock %}