



<!DOCTYPE html>
<html lang="uk-UA" style="font-size: 16px;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Facebook -->
  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="#">
  <meta property="og:image:secure_url" content="#">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="600">

  <!-- Meta -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Гід з державних послуг - Гід онлайн Дія</title>
   <link rel="canonical" href="index.htm">
  

<link rel="apple-touch-icon" sizes="180x180" href="/assets/cnap/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/assets/cnap/img/favicon/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/cnap/img/favicon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/cnap/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="48x48" href="/assets/cnap/img/favicon/favicon-48x48.png">
<link rel="icon" type="image/png" sizes="72x72" href="/assets/cnap/img/favicon/favicon-72x72.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/cnap/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="144x144" href="/assets/cnap/img/favicon/favicon-144x144.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/cnap/img/favicon/favicon-192x192.png">
<link rel="mask-icon" href="/assets/cnap/img/favicon/safari-pinned-tab.svg" color="#5bbad5">

<meta name="theme-color" content="#ffffff">

  <link type="text/css" href="/assets/cnap/dist/0.a7161bc3fcfc44920208.css" rel="stylesheet">
  <link type="text/css" href="/assets/cnap/dist/guest.a7161bc3fcfc44920208.css" rel="stylesheet">

  

  <!-- Sitelinks search box -->
  <script type="application/ld+json"> 
  {   
    "@context": "http://schema.org", 
    "@type": "WebSite", 
    "name": "Diia", 
    "alternateName": "Гід з державних послуг | Дія", 
    "url": "https://guide.diia.gov.ua/",  
    "potentialAction": { 
      "@type": "SearchAction", 
      "target": "https://guide.diia.gov.ua/search/?q={search_term_string}" 
    } 
  } 
  </script> 
  <!-- End Sitelinks search box -->
  
</head>

<body id="body" class="">

  <div class="body-loader"></div>

  <a class="back-to-top js-back-to-top" title="Наверх">
    <svg width="64" height="64" viewbox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="32" cy="32" r="32" fill="black"></circle>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M22 27.5322L32.0196 17.5126L42 27.4929L40.3758 29.1172L33.1622 21.9036L33.1288 46L30.8318 45.9951L30.8652 21.9155L23.6242 29.1564L22 27.5322Z" fill="white"></path>
    </svg>      
  </a>

  

<div class="layout-wrapper ">
  <header class="header  header_simple ">
    <div class="header__inner">
      <div class="header__item header__item_md-show header__item_hide-simple">
        <a class="layout-logo" href="/cnap-start">
          <img class="layout-logo__icon" alt="Лопотип сервісу Дія" src="/assets/cnap/img/logo-diia-black.svg">
        </a>
      </div>

      <div class="header__item header__item_md-hide header__item_hide-simple">
        <a class="layout-logo layout-logo_height-4" href="index.htm">
          <img class="layout-logo__icon" alt="Лопотип сервісу Дія" src="/assets/cnap/img/logo-diia-black.svg">
        </a>
      </div>

      <div class="header__item header__item_md-show">
        <div class="header-nav">
          <a class="header-nav__item" rel="nofollow" href="https://diia.gov.ua/">
            Портал Дія
          </a>
          <a class="header-nav__item" href="asc/index.htm">
            Реєстр ЦНАП
          </a>
          <a class="header-nav__item" href="https://center.diia.gov.ua/">
             Платформа Центрів Дія
          </a>
        </div>
      </div>

      <div class="header__item_divide">
      </div>

      <div class="header__item header__item_md-show ">
        

<div class="lowvision-actions ">

    <div class="lowvision-actions__item js-change-lowvision link-icon  link-icon_black">
        <div class="link-icon__icon lowvision-icon lowvision-icon_black" alt=""></div>
        <span class="link-icon__text">Людям із порушенням зору</span>
    </div>

    <div class="lowvision-actions__item link-icon js-change-font-size-up  link-icon_black">
        
            <img src="/assets/cnap/img/icons/font-increase.svg">
        
    </div>
    <div class="lowvision-actions__item link-icon js-change-font-size-down  link-icon_black">
        
            <img src="/assets/cnap/img/icons/font-decrease.svg">
        
    </div>
    <div class="lowvision-actions__item link-icon js-change-font-size-reset  link-icon_black">
        
            <img src="/assets/cnap/img/icons/reset.svg">
        
    </div>
</div>

      </div>

      

      <div class="header__item header__item_md-hide header-drawer-button">
        <img src="/assets/cnap/img/icons/burger-bold.svg" class="header-drawer-button__img header-drawer-visible-hide">
        <img src="/assets/cnap/img/icons/close-bold.svg" class="header-drawer-button__img header-drawer-visible-show">
      </div>
    </div>
  </header>

  <div class="header-drawer">
    <div class="header-nav header-nav_vertical header-drawer__item">
      <a class="header-nav__item" rel="nofollow" href="https://diia.gov.ua/">
        Портал Дія
      </a>
      <a class="header-nav__item" href="asc/index.htm">
        Реєстр ЦНАП
      </a>
    </div>

    <div class="link-icon link-icon_black header-drawer__item search-drawer-button">
      <img class="link-icon__icon" src="/assets/cnap/img/icons/search.svg" alt="">
      <span class="link-icon__text">Пошук</span>
    </div>

    

<div class="lowvision-actions header-drawer__item">

    <div class="lowvision-actions__item js-change-lowvision link-icon  link-icon_black">
        <div class="link-icon__icon lowvision-icon lowvision-icon_black" alt=""></div>
        <span class="link-icon__text">Людям із порушенням зору</span>
    </div>

    <div class="lowvision-actions__item link-icon js-change-font-size-up  link-icon_black">
        
            <img src="/assets/cnap/img/icons/font-increase.svg">
        
    </div>
    <div class="lowvision-actions__item link-icon js-change-font-size-down  link-icon_black">
        
            <img src="/assets/cnap/img/icons/font-decrease.svg">
        
    </div>
    <div class="lowvision-actions__item link-icon js-change-font-size-reset  link-icon_black">
        
            <img src="/assets/cnap/img/icons/reset.svg">
        
    </div>
</div>


    <div class="header-drawer__divider"></div>

    <div class="list-margin list-margin_sm">
      <a href="https://www.kmu.gov.ua/" target="_blank" class="link link_gray list-margin__item ">
          Урядовий портал
      </a>
      <a href="technical-information/index.htm" class="link link_gray list-margin__item">
          Інформація для розробників
      </a>
      
        <a href="login.html" class="link link_gray list-margin__item">
          Вхід для адміністратора
        </a>
      
    </div>
  </div>

  <div class="search-drawer">
    <form method="GET" action="/search/" class="search-form">
      <button class="search-form__button search-form__button_before" type="submit">
        <img class="search-form__img" src="/assets/cnap/img/icons/search.svg">
      </button>

      <input type="text" name="q" minlength="2" class="search-form__input" placeholder="Назва послуги або життєва ситуація" aria-label="Назва послуги або життєва ситуація">

      <a class="search-form__button search-drawer-button search-form__button_after">
        <img class="search-form__img" src="/assets/cnap/img/icons/close-bold.svg">
      </a>
    </form>
  </div>

  {% block content %} 
  {% endblock %}

  <footer class="footer layout-item layout-item_disable-last-padding">

    <div class="footer__item">
      <div class="footer-description footer__subitem">
        <img src="/assets/cnap/guest/img/footer-line.svg" alt="Реєстр адміністративних послуг" class="footer-description__icon">
        <span class="footer-description__text footer-description__text_title">
          Реєстр адміністративних послуг
        </span>
      </div>

      <div class="footer-description footer__subitem">
        <img src="/assets/cnap/img/logo-diia-white.svg" alt="Дія" class="footer-description__icon">
        <span class="footer-description__text">
          Проєкт реалізований завдяки підтримці американського народу, наданій через <a class="link link_reverse link_white" rel="nofollow" href="https://www.usaid.gov/" target="_blank">Агентство США з міжнародного розвитку (USAID)</a>, за фінансової підтримки <a class="link link_reverse link_white" rel="nofollow" href="https://www.gov.uk/government/organisations/department-for-international-development" target="_blank">уряду Великобританії (UK aid)</a> в рамках проєкту USAID/UK aid <a class="link link_reverse link_white" rel="nofollow" href="https://tapas.org.ua/" target="_blank">«Прозорість та підзвітність у державному управлінні та послугах/TAPAS»</a> та за сприяння проєкту SURGe, що фінансується Урядом Канади.
        </span>
      </div>
      <div class="footer-description footer__subitem">
        <img src="/assets/cnap/img/beta.svg" alt="Beta" class="footer-description__icon">
        <span class="footer-description__text">
          Портал працює в режимі дослідної експлуатації.
        </span>
      </div>
      <div class="footer-description footer__subitem">
        <img src="/assets/cnap/img/cc-logo.svg" alt="Creative Commons Attribution 4.0 International license" class="footer-description__icon">
        <span class="footer-description__text">
          Весь контент доступний за ліцензією
          <a class="link link_reverse link_white" target="_blank" rel="nofollow" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>, якщо
          не зазначено інше
        </span>
      </div>
    </div>

    <div class="footer__item">
      

<div class="lowvision-actions footer__subitem">

    <div class="lowvision-actions__item js-change-lowvision link-icon  link-icon_white ">
        <div class="link-icon__icon lowvision-icon lowvision-icon_white" alt=""></div>
        <span class="link-icon__text">Людям із порушенням зору</span>
    </div>

    <div class="lowvision-actions__item link-icon js-change-font-size-up  link-icon_white ">
        
            <img src="/assets/cnap/img/icons/font-increase-white.svg">
        
    </div>
    <div class="lowvision-actions__item link-icon js-change-font-size-down  link-icon_white ">
        
            <img src="/assets/cnap/img/icons/font-decrease-white.svg">
        
    </div>
    <div class="lowvision-actions__item link-icon js-change-font-size-reset  link-icon_white ">
        
            <img src="/assets/cnap/img/icons/reset-white.svg">
        
    </div>
</div>


      <div class="footer-menu footer__subitem footer__subitem_justify">
        <a rel="nofollow" href="https://www.kmu.gov.ua/" target="_blank" class="link link_reverse link_white footer-menu__item ">
            Урядовий портал
        </a>
        <a href="technical-information/index.htm" class="link link_reverse link_white footer-menu__item">
            Інформація для розробників
        </a>
        
          <a href="login.html" class="link link_reverse link_white footer-menu__item">
            Вхід для адміністратора
          </a>
        
      </div>

      <div class="footer-social footer__subitem">
        <a rel="nofollow" href="https://www.facebook.com/diia.gov.ua" target="_blank" class="footer-social__item">
          <img src="/assets/cnap/guest/img/social/facebook.svg" alt="Facebook">
        </a>

        

        <a rel="nofollow" href="https://t.me/diia_gov" target="_blank" class="footer-social__item">
          <img src="/assets/cnap/guest/img/social/telegram.svg" alt="Telegram">
        </a>

        <a rel="nofollow" href="https://www.instagram.com/diia.gov.ua/" target="_blank" class="footer-social__item">
          <img src="/assets/cnap/guest/img/social/instagram.svg" alt="Instagram">
        </a>

        

        

        <a rel="nofollow" href="https://vb.me/diia" target="_blank" class="footer-social__item">
          <img src="/assets/cnap/guest/img/social/viber.svg" alt="Viber">
        </a>
      </div>

      


    </div>
  </footer>
</div>


<div class="modal fade" id="js-modal-guest" tabindex="-1" role="dialog" aria-labelledby="js-modal-guest-label" aria-hidden="true">
  <div class="modal-dialog modal-guest-dialog modal-dialog-centered" role="document">
    <div class="modal-guest">
      <div class="modal-guest__header">
        <h5 class="modal-guest__title h2" id="js-modal-guest-label">Заголовок</h5>
        <button type="button" class="modal-guest__close" data-dismiss="modal" aria-label="Сховати">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-guest__description">

      </div>
      <div class="modal-guest__body">

      </div>
    </div>
  </div>
</div>



  <!-- Modal default -->
  <div class="modal fade" id="js-modal" tabindex="-1" role="dialog" aria-labelledby="js-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="js-modal-label">Заголовок</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Сховати"></button>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>

  <!-- Modal large -->
  <div class="modal fade" id="js-modal-lg" tabindex="-1" role="dialog" aria-labelledby="js-modal-lg-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="js-modal-lg-label">Заголовок</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Сховати">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
</body>


<script type="text/javascript" src="/assets/cnap/dist/vendors~guest~main.a7161bc3fcfc44920208.js"></script>


  <script type="text/javascript" src="/assets/cnap/dist/guest.a7161bc3fcfc44920208.js"></script>




</html>